################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Demo/Demo/obj
/RevitAddin_19.2/.vs/RevitAddin_19.2/v16
obj
obj
obj
obj
